.quiz-container {
  .title {
    font-size: 26px;
    font-weight: 600;
  }
  legend {
    font-size: 14px;
  }
  .img-preview {
    padding: 20px;
    border: 1px dashed #ccc;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #ccc;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .list-detail {
    padding: 20px;
    .title-table {
      font-weight: 600;
      font-size: 20px;
    }
  }
}
