.add-todo {
  width: 500px;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  input {
    margin-left: 30px;
    outline: none;
    padding: 0 5px;
  }
  .btn-addtodo {
    margin-left: 10px;
    padding: 5px;
    background-color: aqua;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
