@import "normalize.css";
:root {
  --primary: #008848;
  --text-color: #333;
  --white: #fff;
  --main-layout-width: 1200px;
  --main-layout-header-height: 50px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  line-height: 1.6rem;
}
body {
  font-size: 1.5rem;
}
input,
button {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
.list-slider {
  position: relative;
  display: flex;
  width: 100%;
  transition: all 0.3s ease-in;
}
.dot-item {
  cursor: pointer;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--white);
}
.dot-item.active {
  background-color: red;
}
