.wrapper {
  width: 209px;
  background-color: var(--white);
  border-top: 1px solid #e5e5e5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
@keyframes flicker {
  0% {
    opacity: 1;
    color: #e92f46;
  }
  50% {
    opacity: 0.8;
    color: #008848;
  }
  100% {
    opacity: 1;
    color: #e92f46;
  }
}
.menu-list {
  color: var(--text-color);
  user-select: none;
  .menu-header {
    font-weight: 600;
    padding-left: 10px;
    width: 100%;
    height: 26px;
    margin-top: 10px;
    animation: flicker 1s ease-in infinite;
  }
  .menu-item {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    padding-left: 3px;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      background-color: #f5f5f5;
    }
    .down-icon {
      color: #555;
    }
  }
}
