.wrapper {
  height: var(--main-layout-header-height);
  width: 100%;
  background-color: #008848;
  .inner {
    width: var(--main-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    color: var(--white);

    .menu {
      width: 210px;
      margin-top: 10px;
      background-color: var(--white);
      height: 40px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      color: var(--text-color);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      span {
        margin-right: 10px;
      }
    }
    .link-logo {
      height: 100%;
      .logo {
        width: 150px;
        object-fit: cover;
        height: 100%;
      }
    }

    .map {
      cursor: pointer;
      background-color: #007d43;
      min-width: 176px;
      height: 34px;
      width: 184px;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      .map-icon {
        padding: 5px;
      }
    }

    .search {
      width: 385px;
      height: 34px;
      display: flex;
      align-items: center;
      background-color: var(--white);
      border-radius: 5px;
      input {
        height: 100%;
        flex: 1;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-left: 12px;
        color: var(--text-color);
      }

      .search-icon {
        color: #d7d7d8;
        height: 100%;
        width: 45px;
        padding: 7px;
        display: flex;
      }
    }

    .histories {
      cursor: pointer;
      padding: 5px;
      height: 100%;
      max-width: 70px;
      font-size: 1.2rem;
      text-align: center;
      display: flex;
      align-items: center;
    }

    .cart {
      cursor: pointer;
      background-color: #007d43;
      color: var(--white);
      height: 100%;
      padding: 5px;
      display: flex;
      align-items: center;

      span {
        margin-left: 5px;
      }
    }
    .log-in {
      cursor: pointer;
      color: var(--white);
      padding: 0 5px;
      border-radius: 5px;
      height: 32px;
      background-color: #007d43;
    }
  }
}
